@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* global variables */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

.c-main-container {
    overflow: hidden;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.c-main-container > div {
    background-color: white;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 90%;
    border-bottom: 1px solid rgba(19, 18, 18, 0.091);
    box-shadow: 5px 10px 18px #8888880b;
}

.c-main-container h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.c-post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2rem;
    flex-direction: column;
}

.filter_item {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 4px;
    transition: 0.4s;
    background: #00000007;
}

.filter_item:hover {
    background: rgba(0, 0, 0, 0.086);
}

.c-post {
    max-width: 90%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 18rem;
}

.c-card {
    flex: 1 1 150px;
    margin: 5px;
    text-align: center;
}

.c-post-img {
    width: 300px;
    height: 300px;
    /* object-fit: cover; */
    object-position: center;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

